.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-form{
    display: flex;
    gap: 10px;
}

.todo-form input, .todo-form button{
    font-size: 18px;
}